.index{
  background-image: url(hogwarts-castle-wallpaper-preview.jpg);
    background-size: 1130px;
}
.usuario{
  background-image: url(usu.png);
  background-size: 250px;
  text-align: center;
  font-size: xx-large;
float: left;
width: 100%;
padding: 2px;
}
.alu{
  background-image: url(alum.jpg);
  background-size: 170px;
  text-align: center;
  font-size: xx-large;
float: left;
width: 100%;
padding: 2px;
}
body{
    background-color:rgba(209, 233, 240, 0.986);
    margin: 1em;
    padding: 0em;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(143, 193, 212);
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
    text-align: justify;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4cacd8;
  }
 
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}
.colu {
  color:antiquewhite;
    margin: 1%;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(168, 140, 135);
    text-align: center;
    font-size: xx-large;
  float: left;
  width: 98%;
  padding: 2px;
}

.header{
    text-align: center;
}
.ima{
  padding: auto;
  height: auto;
}

.usu{
  margin: 1%;
}
.herramientas {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  margin-top:2%;
  padding-bottom: 0.1%;
  gap: 2rem;
}

.agregar{
  background-color: rgb(190, 225, 248); 
  color: rgb(3, 3, 3); 
  padding:12px 28px;
  border-radius:8px;
}

.agregar:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=file] { 
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}
.rol{
  background-color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.alum {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.alum { 
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 320px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.pie{
  color: rgb(245, 246, 247);
}
div.gallery1 {
  margin: 5px;
  float: left;
  width: 120px;
}

div.gallery1 img {
  width: 100%;
  height: auto;
}
.ofer{
text-align: center;
}
div.gallery2 {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 410px;
}

div.gallery2 img {
  width: 100%;
  height: auto;
}
div.gallery3 {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 553px;
}

div.gallery3 img {
  width: 100%;
  height: auto;
}